<section class="flex flex-col gap-3"
         *ngIf="items.length; else noItems">
  <div class="flex bg-neutral-200 p-3 gap-3"
       *ngFor="let item of items">
    <div class="h-40 w-40 shrink-0 bg-white bg-contain bg-no-repeat bg-center"
         [ngStyle]="{'background-image': 'url(' + item.image + ')'}"></div>
    <div class="flex flex-col gap-3 justify-between w-full">
      <p class="text-2xl">{{item.name}}</p>
      <div class="flex justify-between">
        <div class="flex gap-1 text-xl">
          <button [disabled]="item.quantity === 5"
                  (click)="incrQuantity(item)">+</button>
          <p>{{item.quantity}}</p>
          <button [disabled]="item.quantity === 1"
                  (click)="decrQuantity(item)">-</button>
        </div>
        <button (click)="remove(item.id)">Remove</button>
      </div>
    </div>
  </div>
</section>
<ng-template #noItems>
  <p>Cart is empty</p>
</ng-template>
