<article class="flex gap-9 p-3 text-stone-800 dark:text-white"
         *ngIf="item$ | async">
  <div class="w-80 h-80 shrink-0 bg-white bg-contain border-2 border-stone-800 bg-no-repeat bg-center"
       [ngStyle]="{'background-image': 'url(' + (item$ | async)?.image + ')'}"></div>
  <div class="flex flex-col justify-between">
    <div class="flex flex-col gap-3">
      <h2 class="text-2xl">{{(item$ | async)?.name}}</h2>
      <p>{{(item$ | async)?.desc}}</p>
    </div>
    <div class="flex">
      <pipes-button (onAction)="addToCart()"
                    [text]="'Add to cart'"></pipes-button>
    </div>
  </div>
</article>
