@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(41 37 36 / var(--tw-bg-opacity));
  border-radius: 10px;
}

.dark {
  ::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
}
